/* mainPage */
body {
	color: yellow;
	font-family: Return of Ganon;
	/* font-family: Coolvetica compressed hv; */
	font-size: 33px;
	font-smooth: never;
	overflow: hidden;
	user-select: none;
}

.button {
	border: solid 1px;
	color: yellow;
	background-color: black;
	left: 300px;
	top: 300px;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 107px;
	height: 100px;
	float: left;
	background: black;
	margin: 9px;
	box-shadow: 5px 5px;
	text-align: center;


	/* text-align: center; */
}
.button>p {
	padding: 3px
}

.button-container {
	background: black;
	overflow-y: auto;
	position: absolute;
}


.button:active {
	/* background-color: yellow; */
	box-shadow: 0 0px #666;
	transform: translate(4px, 4px);
}

.view-container {
	/* background-color: grey; */
	position: absolute;
	color: yellow;
	border: solid 1px;
	box-shadow: 5px 5px;
	width: 744px;
	height: 463px;
	left: 0px;
	top: 0px;
	margin: 9px;
	/* padding: 5px; */
}

#menue-container {
	width: 260px;
	right: 0px;
	top: 0px;
	border-bottom: solid 1px;
}

#vertical-button-container {
	width: 260px;
	right: 0px;
	top: 360px;
	border-top: solid 1px;
}

#horizontal-button-container {
	width: 765px;
	left: 0px;
	top: 481px;
}

/* ****************** */
/* hardwareStatusView */
/* ****************** */
#hardwareStatusView {
	padding: 8px
}

.container {
	background: black;
	/* position: absolute; */
	float: left;
	/* left: 20px; */
	box-shadow: 5px 5px yellow;
	border: solid 1px;
	/* text-align: center; */
	/* line-height: 100px; */
}

#character-lcd {
	padding-left: 5px;
	/* padding-right: 20px; */
	padding-top: 5px;
	/* padding-bottom: 5px; */
	width: 500px;
	height: 123px;
}

#axis-container {
	overflow-y: auto;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	float: left;
}

#value-container {
	overflow-y: auto;
	padding-left: 24px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	float: left;
}

.value {
	padding: 5px;
	width: 150px;
	height: 35px;
	float: right;
	border-color: yellow;
	text-align: right;
}

.label {
	overflow: hidden;
	float: left;
	width: 180px;
}

#device_label {
	border-right: solid 1px;
}

#label_label {
	padding-left: 5px;
	width: 150px;
}

#enc_a_label {
	padding-top: 20px;
	border-top: solid 1px
}

#enc_a_value {
	padding-top: 10px;
}

#enc_b_label {
	padding-top: 21px;
	border-top: solid 1px
}

#enc_b_value {
	padding-top: 10px;
}

#lcd_label {
	padding-top: 21px;
	border-top: solid 1px;
}

#lcd_value {
	padding-top: 10px;
}

#swich_label {
	padding-top: 10px;
	border-top: solid 1px;
}

#switch_value {
	padding-top: 10px;
}

.axis-value {
	padding: 5px;
	width: 93px;
	height: 40px;
	border-color: yellow;
}

.axis-label {
	overflow-y: auto;
	float: left;
}

#axis-label-X {
	padding-left: 65px
}

#axis-label-Y {
	padding-left: 85px
}

#axis-label-Z {
	padding-left: 85px
}

#axis-label-A {
	padding-top: 5px
}

#axis-label-B {
	padding-top: 5px
}

.button-value {
	padding: 5px;
	width: 93px;
	height: 40px;
	border-color: yellow;
	background-color: black;
	color: yellow
}


.button-led-on {
	background-color: yellow;
	color: black
}

.button-led-off {
	background-color: black;
	color: yellow
}
